.single-select-list {
  list-style: none;
  padding: 0;
}
.single-select-list li {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width:800px){
  .single-select-list li {
    width: 350px;
    gap: 4px;
  }
}